* { font-family: 'Questrial', sans-serif; font-weight: 400; margin: 0; padding: 0; }

body { padding: 20pt; background-color: #D3D5DC; color: black; }

p, div, h1, h2, h3, pre { margin-bottom: 1em; border-radius: 7pt; }

a, h1, h2, h3 { color: #767B9E; text-decoration: none; }

pre, pre a { font-family: "Courier New", Courier, monospace; }

pre a { color: black; text-decoration: underline;  }

div { padding: 1em; background-color: white; }

h1 { font-size: 36pt; background-color: #EEE; }
h2 { font-size: 36pt; }
h3 { font-size: 28pt; }

div, p { font-size: 16pt; }

pre, pre a { font-size: 12pt; }
p a { text-decoration: underline; }